<ul class="w-full flex flex-col justify-center text-center">
    <li class="w-full p-2 h-12 hover:bg-teal hover:text-white active:bg-teal text-lg border-b-2" routerLink="/dashboard">Dashboard</li>
    <li class="w-full p-2 h-12 hover:bg-teal hover:text-white active:bg-teal text-lg border-b-2" routerLink="/holdings">Holdings</li>
    <li class="w-full p-2 h-12 hover:bg-teal hover:text-white active:bg-teal text-lg border-b-2">Gold</li>
    <li class="w-full p-2 h-12 hover:bg-teal hover:text-white active:bg-teal text-lg border-b-2">Real Estate</li>
</ul>